<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="../../static/css/common.css" rel="stylesheet" th:href="@{/css/common.css}">
    <link href="../../static/css/corptravel.css" rel="stylesheet" th:href="@{/css/corptravel.css}">
    <style>
        html, body {
            margin: 0;
            padding: 0;

        }
        #p {
            width: 600px;
            margin: 250px auto;
            text-align:center;
            font-size: 30px;
            font-family: 仿宋;
        }
    </style>
</head>
<body>
<div id="p"><p><i>欢迎来到航班管理系统用户中心</i></p></div>

</body>
</html>